body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}

.title-white {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
    color: #fff;
    text-transform: uppercase;
}

.subtitle-white {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    line-height: 1.4;
    text-align: center;
}

.wrapper {
    max-width: 1000px;
}