.page-purple {
    width: 100%;
    min-height: 100vh;
    background-color: #87509c;
    padding: 10px 25px;
    box-sizing: border-box;
}

.page-green {
    width: 100%;
    min-height: 100vh;
    background-color: #17c2a4;
    padding: 10px 25px;
    box-sizing: border-box;
}

.page-purple__header-menu-link {
    box-sizing: content-box;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 10%;
    transition: background-color 0.3s linear;
}

.page-purple__header-menu-link:first-child {
    margin-left: 0;
}

.page-purple__header-menu-link:hover {
    background-color: #643a79;
}

.header__logo img {
    display: block;
    max-width: 100%;
}

.page-purple__intro {
    flex: 1 1 auto;
}

.page-purple__intro-text {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.2;
    color: #fff;
    text-indent: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.page-purple__intro-link {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 20px 50px;
    border: none;
    border-radius: 6%;
    display: block;
    background-color: rgb(223, 126, 16);
}

.page-purple__intro-btn:hover {
    cursor: pointer;
}

.page-green__servises-top {
    text-align: center;
}

.page-green__servises-top-title {
    margin-bottom: 15px;
}

.page-green__servises-top-line {
    width: 80px;
    height: 3px;
    background: rgba(0, 0, 0, 0.15);
}

.page-green__servises-top-subtitle {
    margin: 20px 0 40px 0;
}

.page-green__servises-row-item {
    flex-basis: 25%;
}

.page-green__servises-row-item-icon {
    margin: 0 0 40px 0;
}

.page-green__servises-row-item-icon img {
    max-width: 100%;
}

.page-green__servises-row-item-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 25px 0;
}

.page-green__servises-row-item-subtitle {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    line-height: 1.5;
    text-align: center;
    padding: 0 15px;
}

@media (max-width:630px) {
    .wrapper {
        max-width: none;
    }

    .page-purple__header-menu-link:first-child {
        margin-left: 15px;
    }

    .flex-row__sb-baseline {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .page-green__servises-row-item {
        margin-top: 20px;
    }
}